<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="filter" class="com.pramati.webcrawler.filter.WebCrawlerFilterImpl">
</bean>

<bean id="parser" class="com.pramati.webcrawler.parser.WebCrawlerParserImpl">
</bean>

<bean id="manager" class="com.pramati.webcrawler.thread.ThreadManager">
<property name="filter" ref="filter"></property>
<property name="parser" ref="parser"></property>
</bean>


</beans>