<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="filter" class="com.pramati.webcrawler.filter.WebCrawlerFilterImpl">
</bean>

<bean id="parser" class="com.pramati.webcrawler.parser.WebCrawlerParserImpl">
</bean>

<bean id="manager" class="com.pramati.webcrawler.thread.ThreadManager" scope="prototype">
<property name="filter" ref="filter"></property>
<property name="parser" ref="parser"></property>
<constructor-arg index="0" value="1" type="int"></constructor-arg>
<constructor-arg index="1" value="" type="java.lang.String"></constructor-arg>
<constructor-arg index="2" value="" type="java.lang.String"></constructor-arg>
<constructor-arg index="3" value="" type="java.lang.String"></constructor-arg>
</bean>


</beans>